@use '../base';

.footer {
  background-color: base.$black-background-color;

  &__container{
    @include base.container-mob;
    padding-top: 30px;

    @media (min-width: base.$tablet) and (max-width: (base.$desktop - 1)) {
      padding-top: 60px;
      @include base.container-tab;
    }

    @media only screen and (min-width: base.$desktop) {
      width: 1300px;
      padding-top: 120px;
      @include base.container-desc;
    }
  }

  &__main{

  }

  &__header{
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.2;
    color: base.$white-color;
  }

  &__text {
    margin-bottom: 30px;
      ;
      // font-weight: 600;
      // line-height: 1.2;
      color: base.$white-color;
  }

  &__button{
    @include base.button;
  }








}