@use '../base';

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  // border-bottom: 1px solid #e0e0e0;
  z-index: 9;

  &.scrolled {
    background-color: base.$black-background-color;
  }

  &__container{
    padding: 15px 15px 15px 15px;
    margin-left: auto;
    margin-right: auto;
    max-height: 82px;
    min-width: 320px;

    @media (min-width: base.$tablet) {
        // max-width: 1200px;
        padding: 15px 30px 15px 30px;
      }

    @media (min-width: base.$desktop) {
      max-width: 1300px;
      padding: 15px 50px 15px 50px;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    // &:not(:last-child) {
    //   flex-wrap: nowrap;
    // }

    // &-container {
    //   display: flex;
    // }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    font-size: 14px;

    @media (max-width: (base.$desktop - 1)) {
      display: none;
    }

    @media (min-width: base.$full-header) {
      gap: 22px;
      font-size: 16px;
    }

    @media (min-width: 1200px) {
      gap: 40px;
    }
  }

  &__link {
    // font-family: "Bricolage Grotesque" sans-serif;
    font-size: 14px;
    line-height: 1.2;
    color: base.$white-text-color;
    transition: 200ms ease-in;

    @media (min-width: base.$full-header) {
      font-size: 16px;
    }

    // @media (max-width: (base.$desktop - 1)) {
    //     display: none;
    //   }
  }

  &__link:hover,
  &__link:focus {
    color: base.$accent-color;
  }


  .nav-link.active::after {
    background: #747bff;
  }

  &__button {
    align-items: center;
    border: none;
    width: 188px;
    height: 48px;
    background-color: rgb(31, 42, 54);
    border-radius: 5px;
    box-shadow: none;
    color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 1.5;

    &.scrolled-btn {
      border: 1px solid base.$white-text-color;
    }

    @media (min-width: base.$full-header) {
      width: 210px;
      font-size: 16px;
    }


    @media (max-width: (base.$desktop - 1)) {
      display: none;
    }

    @media (min-width: base.$desktop) {
      display: block;
      &.scrolled-btn {
          border: 1px solid base.$white-text-color;
        }
    }
  }
}

.active {
  border-bottom: 2px solid base.$main-text-color;
  color: base.$accent-color;
}

.logo {
  &__img {
      width: 211px;
      height: auto;
      display: block;
      aspect-ratio: 4/ 1;
      object-fit: cover;
    }
}

.menu__button{
  padding: 0;
  align-items: center;
  justify-content: center;
  border: none;
  height: 100%;
  fill: white;
  background-color: transparent;

  svg{
    width: 40px;
    height: 40px;
    // overflow-clip-margin: content-box;
    overflow: hidden;
  }
  @media (max-width: (base.$desktop - 1)) {
      display: flex;
    }

  @media (min-width: base.$desktop) {
    display: none;
  }
}

main {
  padding-top: 80px;
}