@use '../base';

.services {
  position: relative;

  @include base.container-mob;
  // padding-top: 15px;

  @media (min-width: base.$tablet) {
    // padding-top: 30px;
    @include base.container-tab;
  }

  @media (min-width: base.$desktop) {
    max-width: 1300px;
    // padding-top: 30px;
    @include base.container-desc;

  }

  &__top {
    background-color: base.$green-background-color;
    padding: 30px 15px 15px 15px ;
    margin-bottom: 30px;

    // @media (min-width: base.$mobile) {
    //   padding-top: 30px;
    // }
  }

  &__list {
    display: flex;
    position: absolute;
    // top: -18px;
    top: -110px;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    padding-bottom: 30px;
    gap: 60px;
    // color: base.$black-background-color;

    @media (min-width: base.$mobile) {
      top: -100px;
      gap: 60px;
      color: base.$white-color;
    }


    @media (min-width: base.$tablet) {
      top: -120px;
      gap: 60px;
    }

    @media (min-width: base.$desktop) {
      top: -150px;
      gap: 90px;
    }

  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

  }

  &__slogan {
    font-size: 12px;
    color: white;

  @media (min-width: base.$tablet) {
    font-size: 14px;
  }

  @media (min-width: base.$desktop) {
    font-size: 16px;
  }

  }

  &__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    margin-bottom: 10px;
    border-radius: 50%;
    background: base.$black-background-color;
    // background: #A9A9A9;
    // background-color: #C0C0C0;
      // background-color: #E5E4E2;
      // background-color: #B0C4DE;

    @media (min-width: base.$tablet) {
        width: 45px;
        height: 45px;
      }
  }


  &__svg {

    width: 28px;
    height: 28px;

    @media (min-width: base.$tablet) {
      width: 30px;
      height: 30px;
    }

    & use {
      fill: white;

    }
  }

  &__content {
    display: flex;
    gap: 20px;
    padding-bottom: 30px;

    @media (min-width: base.$tablet) {
      gap: 30px;
    }
  }

  &__flex {
    display: flex;
    gap: 30px;
  }

  &__a {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.5;
    // text-align: center;
    margin-bottom: 20px;
  }

  &__b {
    font-size: 14px;
    line-height: 1.5;
    // text-align: center;
  }

  &__c {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5;
    // text-align: center;
  }

  &__bild {
    text-align: center;
    overflow: hidden;
    max-height: 180px;
    border-radius: base.$border-radius;
    width: 50%;

    @media (min-width: (base.$tablet)) {
      height: 250px;
    }


    & img {
      max-width: 100%;
      height: auto;
      border-radius: base.$border-radius;

      // @media (min-width: (base.$tablet)) {
      //   max-width: 100%;
      // }
    }
  }

    /* Анімація скролу */
    @keyframes marquee {
      0% {
        transform: translateX(100%);
      }

      100% {
        transform: translateX(-100%);
      }
    }

    /* Контейнер для тексту */
    .marquee-container {
      position: relative;
      margin-bottom: 30px;
      width: 100%;
      overflow: hidden;
      background: transparent;
      /* можна додати фон, якщо потрібно */
      white-space: nowrap;
    }

    /* Сам текст */
    .marquee-text {
      display: inline-block;
      padding-left: 5%;
      /* щоб був відступ перед стартом */
      font-size: 28px;
      /* розмір тексту */
      font-weight: 700;
      animation: marquee 18s linear infinite;
      /* швидкість 15s */
    }




  &__inner {
    width: 350px;

    @media (min-width: base.$tablet) {
      width: 450px;
    }
  }


  &__link{
    margin-bottom: 30px;
    // font-family: "Bricolage Grotesque", sans-serif;
    display: block;
    font-size: 16px;
    // font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
    color: base.$main-text-color;
    text-align: center;

    @media (min-width: base.$tablet) {
        font-size: 20px;
      }

    @media (min-width: base.$desktop) {
      margin-bottom: 60px;
      font-size: 26px;
    }

    // &:hover{
    //   color: base.$accent-color;
    // }
  }

  &__box {
    padding: 30px;
    box-shadow: base.$box-shadow;
    border-radius: base.$border-radius;

    @media only screen and (min-width: base.$desktop) {
        padding: 60px;
      }
  }

  &__framer {
    @media only screen and (min-width: base.$desktop) {
        display: flex;
        gap: 30px;
      }
  }

  &__info {
    @media only screen and (min-width: base.$desktop) {
        max-width: 550px;
      }
  }

  &__header{
      margin-bottom: 20px;
      font-size: 28px;
      font-weight: 600;
      line-height: 1.2;
      color: #144444;
      text-align: center;

      @media (min-width: (base.$tablet)) {
        font-size: 32px;
      }

      // @media only screen and (min-width: base.$desktop) {
      //   font-size: 32px;
      // }
  }

  &__text {
    font-size: 16px;

    @media only screen and (min-width: base.$desktop) {
        font-size: 18px;
    }
  }

  &__picture {
    text-align: center;
    overflow: hidden;
    max-height: 180px;
    border-radius: base.$border-radius;
    width: 80%;

    @media (min-width: (base.$tablet)) {
        height: 250px;
      }


    & img {
      max-width: 100%;
      height: auto;
      border-radius: base.$border-radius;

      // @media (min-width: (base.$tablet)) {
      //   max-width: 100%;
      // }
    }
  }

  &__image {
    text-align: center;
    overflow: hidden;
    border-radius: base.$border-radius;

    @media (min-width: (base.$tablet)) {
      height: 350px;
    }


    & img {
      max-width: 100%;
      height: auto;
      border-radius: base.$border-radius;

      // @media (min-width: (base.$tablet)) {
      //   max-width: 100%;
      // }
    }
  }



  &__button{
    @include base.button;
    margin: 30px auto;

    @media only screen and (min-width: base.$desktop) {
      width: 220px;
      font-size: 16px;
    }
  }


}