@use '../base';

.services {
  @include base.container-mob;
  padding-top: 30px;

  @media (min-width: base.$tablet) and (max-width: (base.$desktop - 1)) {
      padding-top: 60px;
      @include base.container-tab;
    }

  @media only screen and (min-width: base.$desktop) {
    max-width: 1300px;
    padding-top: 60px;
    @include base.container-desc;
  }

  &__link{
    margin-bottom: 30px;
    font-family: "Bricolage Grotesque", sans-serif;
    display: block;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
    color: base.$main-text-color;
    text-align: center;

    @media (min-width: base.$tablet) and (max-width: (base.$desktop - 1)) {
        font-size: 22px;
      }

    @media only screen and (min-width: base.$desktop) {
      margin-bottom: 60px;
      font-size: 26px;
    }

    &:hover{
      color: base.$accent-color;
    }
  }

  &__box {
    padding: 30px;
    box-shadow: base.$box-shadow;
    border-radius: base.$border-radius;

    @media only screen and (min-width: base.$desktop) {
        padding: 60px;
      }
  }

  &__framer {
    @media only screen and (min-width: base.$desktop) {
        display: flex;
        gap: 30px;
      }
  }

  &__info {
    @media only screen and (min-width: base.$desktop) {
        max-width: 550px;
      }
  }

  &__header{
      margin-bottom: 20px;
      font-size: 28px;
      font-weight: 600;
      line-height: 1.2;
      color: #144444;
      text-align: center;

      @media (min-width: (base.$tablet)) {
        font-size: 32px;
      }

      // @media only screen and (min-width: base.$desktop) {
      //   font-size: 32px;
      // }
  }

  &__text {
    font-size: 16px;

    @media only screen and (min-width: base.$desktop) {
        font-size: 18px;
    }
  }

  &__image {
    text-align: center;
    overflow: hidden;
    border-radius: base.$border-radius;

    @media (min-width: (base.$tablet)) {
        height: 350px;
      }


    & img {
      max-width: 100%;
      height: auto;
      border-radius: base.$border-radius;

      // @media (min-width: (base.$tablet)) {
      //   max-width: 100%;
      // }
    }
  }



  &__button{
    @include base.button;
    margin: 30px auto;

    @media only screen and (min-width: base.$desktop) {
      width: 220px;
      font-size: 16px;
    }
  }


}