
@font-face {
  font-family: "Alcantera";
  src: url('../../../fonts/name/Alcantera-Script.ttf');
}

// !-------------------------------------------------------------------------------------

@font-face {
  font-family: "AGAvalancheC";
  src: url('../../../fonts/AGAvalancheC/AGAvalancheC.eot');
  src: local(''),
    url('../../../fonts/AGAvalancheC/AGAvalancheC.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/AGAvalancheC/AGAvalancheC.woff2') format('woff2'),
    url('../../../fonts/AGAvalancheC/AGAvalancheC.woff') format('woff'),
    url('../../../fonts/AGAvalancheC/AGAvalancheC.ttf') format('truetype'),
    url('../../../fonts/AGAvalancheC/AGAvalancheC.svg#AGAvalancheC') format('svg');
}


// !-------------------------------------------------------------------------------------

@font-face {
  font-family: 'TT Travels';
  font-style: normal;
  font-weight: 400;
  src: url('../../../fonts/TTTravels-400.eot');
  src: local(''),
    url('../../../fonts/TTTravels-400.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/TTTravels-400.woff2') format('woff2'),
    url('../../../fonts/TTTravels-400.woff') format('woff'),
    url('../../../fonts/TTTravels-400.ttf') format('truetype'),
}

@font-face {
  font-family: 'TT Travels';
  font-style: normal;
  font-weight: 500;
  src: url('../../../fonts/TTTravels-500.eot');
  src: local(''),
    url('../../../fonts/TTTravels-500.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/TTTravels-500.woff2') format('woff2'),
    url('../../../fonts/TTTravels-500.woff') format('woff'),
    url('../../../fonts/TTTravels-500.ttf') format('truetype'),
}

@font-face {
  font-family: 'TT Travels';
  font-style: normal;
  font-weight: 600;
  src: url('../../../fonts/TTTravels-600.eot');
  src: local(''),
    url('../../../fonts/TTTravels-600.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/TTTravels-600.woff2') format('woff2'),
    url('../../../fonts/TTTravels-600.woff') format('woff'),
    url('../../../fonts/TTTravels-600.ttf') format('truetype'),
}

@font-face {
  font-family: 'TT Travels';
  font-style: normal;
  font-weight: 700;
  src: url('../../../fonts/TTTravels-700.eot');
  src: local(''),
    url('../../../fonts/TTTravels-700.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/TTTravels-700.woff2') format('woff2'),
    url('../../../fonts/TTTravels-700.woff') format('woff'),
    url('../../../fonts/TTTravels-700.ttf') format('truetype'),
}

@font-face {
  font-family: 'TT Travels';
  font-style: normal;
  font-weight: 900;
  src: url('../../../fonts/TTTravels-900.eot');
  src: local(''),
    url('../../../fonts/TTTravels-900.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/TTTravels-900.woff2') format('woff2'),
    url('../../../fonts/TTTravels-900.woff') format('woff'),
    url('../../../fonts/TTTravels-900.ttf') format('truetype'),
}



// !-------------------------------------------------------------------------------------

@font-face {
  font-family: 'TT Travels Next';
  font-style: normal;
  font-weight: 400;
  src: url('../../../fonts/TTTravels-Next/trial/TTTravels-Next-400.ttf');
  // src: local(''),
  //   url('../../../fonts/TTTravels-400.eo?#iefix') format('embedded-opentype'),
  //   url('../../../fonts/TTTravels-400.woff2') format('woff2'),
  //   url('../../../fonts/TTTravels-400.woff') format('woff'),
  //   url('../../../fonts/TTTravels-400.ttf') format('truetype'),
}

@font-face {
  font-family: 'TT Travels Next';
  font-style: normal;
  font-weight: 500;
  src: url('../../../fonts/TTTravels-Next/TT_Travels_Next_500.eot');
  src: local(''),
    url('../../../fonts/TTTravels-Next/TT_Travels_Next_500.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/TTTravels-Next/TT_Travels_Next_500.woff2') format('woff2'),
    url('../../../fonts/TTTravels-Next/TT_Travels_Next_500.woff') format('woff'),
    url('../../../fonts/TTTravels-Next/TT_Travels_Next_500.ttf') format('truetype'),
}

@font-face {
  font-family: 'TT Travels Next';
  font-style: normal;
  font-weight: 600;
  src: url('../../../fonts/TTTravels-Next/TT_Travels_Next_600.eot');
  src: local(''),
    url('../../../fonts/TTTravels-Next/TT_Travels_Next_600.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/TTTravels-Next/TT_Travels_Next_600.woff2') format('woff2'),
    url('../../../fonts/TTTravels-Next/TT_Travels_Next_600.woff') format('woff'),
    url('../../../fonts/TTTravels-Next/TT_Travels_Next_600.ttf') format('truetype'),
}

@font-face {
  font-family: 'TT Travels Next';
  font-style: normal;
  font-weight: 700;
  src: url('../../../fonts/TTTravels-Next/trial/TTTravels-Next-700.ttf');
  // src: local(''),
  //   url('../../../fonts/TTTravels-700.eo?#iefix') format('embedded-opentype'),
  //   url('../../../fonts/TTTravels-700.woff2') format('woff2'),
  //   url('../../../fonts/TTTravels-700.woff') format('woff'),
  //   url('../../../fonts/TTTravels-700.ttf') format('truetype'),
}

@font-face {
  font-family: 'TT Travels Next';
  font-style: normal;
  font-weight: 900;
  src: url('../../../fonts/TTTravels-Next/trial/TTTravels-Next-900.ttf');
  // src: local(''),
  //   url('../../../fonts/TTTravels-900.eo?#iefix') format('embedded-opentype'),
  //   url('../../../fonts/TTTravels-900.woff2') format('woff2'),
  //   url('../../../fonts/TTTravels-900.woff') format('woff'),
  //   url('../../../fonts/TTTravels-900.ttf') format('truetype'),
}

// !-------------------------------------------------------------------------------------

@font-face {
  font-family: 'Tabarra Shadow';
  font-style: normal;
  src: url('/fonts/name/Tabarra-Shadow-FFP.otf');
}