@use './variables';

@mixin container-mob {
  // background-color: red;
  min-width: 320px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

@mixin container-tab {
  // background-color: greenyellow;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

@mixin container-desc {
  // background-color: blue;
  margin: 0 auto;
  max-width: 1300px;
  padding-left: 50px;
  padding-right: 50px;
}