@use './variables';

@mixin container-mob {
  // background-color: red;
  min-width: 320px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

@mixin container-tab {
  // background-color: greenyellow;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

@mixin container-desc {
  // background-color: blue;
  margin: 0 auto;
  max-width: 1300px;
  padding-left: 50px;
  padding-right: 50px;
}

@mixin button {
  width: 217px;
  height: 60px;
  background-color: rgb(31, 42, 54);
  color: #E6DADA;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  border-radius: 5px;
}