@use './variables';
@import "modern-normalize/modern-normalize.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: variables.$main-text-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
}

h1,
h2,
h3,
h4{
  font-family: 'Bricolage Grotesque', sans-serif;
}

ul,
li,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
  cursor: pointer;
  display: block;
}

button,
button * {
  user-select: none;
}

html {
  scroll-behavior: smooth;
}
