@use './variables';
@import "modern-normalize/modern-normalize.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  // font-family: 'DM Sans', sans-serif;
  // font-family: 'TT Travels Next', sans-serif;
  font-family: 'TT Travels', sans-serif;
  // font-family: 'AGAvalancheC', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: variables.$main-text-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
}

h1,
h2,
h3,
h4{
  // font-family: 'Bricolage Grotesque', sans-serif;
  // font-family: "AGAvalancheC", sans-serif;
  font-family: 'TT Travels', sans-serif;
  // font-family: 'TT Travels Next', sans-serif;
}

ul,
li,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
  cursor: pointer;
  display: block;
}

button,
button * {
  user-select: none;
}

html {
  scroll-behavior: smooth;
}

.backdrop {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-100%);
  z-index: 1000;
  background-color: white;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media (min-width: variables.$mobile) {
    background-color: rgba(0, 0, 0, 0.2);
  }
}