$main-text-color: #144444;
// $primary-background-color: ;
$green-background-color: #dee9e7;
$black-background-color: #1F2A36;
$accent-color: #55EDCA;
$white-text-color: #E6DADA;
// $footer-contact-color: ;
// $black: #000000;
$white-color: #ffffff;
// $icon-color: #AFB1B8;
$border-radius: 10px;
$box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 24px 0px;

// $mobile: 480px;
// $tablet: 810px;
// $desktop: 1200px;

$mobile: 480px;
$mobile-max: 767px;
$tablet: 768px;
$desktop: 1025px;
$full-header: 1100px;