<section class="about">
  <div class="about__container">
      <div class="experience">
        <div class="experience__box">
          <div class="experience__image">
            <img src="/images/about-img.avif" alt="a business woman with a laptop">
          </div>
          <h2 class="experience__title">Ми у вашій системі координат</h2>
          <p class="experience__text">Враховуємо ризики та підводні камені, про які замовчують забудовники</p>
          <button type="button" class="about__button">Отримати консультацію</button>
        </div>
        <ul class="digits">
          <li class="digits__item">
            <div data-digits-counter class="digits__counter">95</div>
            <p class="digits__text">Років досвіду в інвестиціях, включаючи на ринку Балі у сфері консалтингу з нерухомоті та девелопменту</p>
          </li>
          <li class="digits__item">
            <div class="digits__num">
              <div data-digits-counter class="digits__counter">100</div>
              <span class="digits__counter">%</span>
            </div>
            <p class="digits__text">Задоволеність клієнтів</p>
          </li>
          <li class="digits__item">
            <div class="digits__num">
              <div data-digits-counter class="digits__counter">5000</div>
              <span class="digits__counter">+</span>
            </div>
            <p class="digits__text">Ретельно відібраних обʼєктів</p>
          </li>
        </ul>
      </div>
      <div class="team">

      </div>
  </div>


</section>