<section class="about">
  <div class="about__container">
      <div class="experience">
        <div class="experience__box">
          <div class="experience__image">
            <img src="/images/about-img.avif" alt="a business woman with a laptop">
          </div>
          <h2 class="experience__title">Ми у вашій системі координат</h2>
          <p class="experience__text">Враховуємо ризики та підводні камені, про які замовчують забудовники</p>
          <button type="button" class="about__button">Отримати консультацію</button>
        </div>
        <div class="digits">
          <div>
            <div data-digits-counter class="digits__counter">95</div>
            <p>років досвіду в інвестиціях, включаючи на ринку Балі у сфері консалтингу з нерухомоті та девелопменту</p>
          </div>
          <div>
            <div data-digits-counter class="digits__counter">100</div>
            <p>%</p>
            <p>Задоволеність клієнтів</p>
          </div>
          <div>
            <div data-digits-counter class="digits__counter">5000</div>
            <p>+</p>
            <p>Ретельно відібраних обʼєктів</p>
          </div>
        </div>
      </div>
      <div class="team">

      </div>
  </div>


</section>