<section id="faq" class="faq">
  <div class="faq__title">
    <h2 class="faq__header">Frequently Asked Questions</h2>
    <p class="faq__text">Got questions? We've got answers! Find quick responses to common queries about our services, timelines, and more.
    </p>
  </div>
  <ul>
    <li class="faq__item">
      <div class="faq__question">
        <h3 class="faq__subtitle">What services do you provide?</h3>
        <span class="icon"></span>
      </div>
      <div class="faq__answer">
        <p>We offer tailored business solutions, including branding, web design, copywriting, and digital marketing strategies.</p>
      </div>
    </li>
    <li class="faq__item">
      <div class="faq__question">
        <h3 class="faq__subtitle">What is the usual duration of a project?</h3>
        <span class="icon"></span>
      </div>
      <div class="faq__answer">
        <p>The duration depends on the project scope, but typically ranges from 2 to 6 weeks.</p>
      </div>
    </li>
    <li class="faq__item">
      <div class="faq__question">
        <h3 class="faq__subtitle">Do you offer revisions?</h3>
        <span class="icon"></span>
      </div>
      <div class="faq__answer">
        <p>Yes! We provide a set number of revisions to ensure the final product meets your expectations.</p>
      </div>
    </li>
    <li class="faq__item">
      <div class="faq__question">
        <h3 class="faq__subtitle">How can I get a quote?</h3>
        <span class="icon"></span>
      </div>
      <div class="faq__answer">
        <p>Simply reach out via our contact form, and we’ll provide a custom quote based on your needs.</p>
      </div>
    </li>
    <li class="faq__item">
      <div class="faq__question">
        <h3 class="faq__subtitle">What payment methods do you accept?</h3>
        <span class="icon"></span>
      </div>
      <div class="faq__answer">
        <p>We accept payments via credit/debit cards, PayPal, and bank transfers.</p>
      </div>
    </li>
  </ul>

</section>