<header class="header" id="header">
  <div class="header__container">
    <nav class="header__nav">
      <a href="/" class="logo">
        <img src="/images/logo.png" alt="Axiom Advisory Logo" class="logo__img" />
      </a>
      <ul class="header__list">
        <li class="header__item">
          <a class="header__link" href="#about">Про нас</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="#services">Послуги</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="#objects">Обʼєкти</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="#invest">Інвестиції на Балі</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="#faq">FAQ</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="/src/partials/about.html">Відгуки</a>
        </li> -->
        <li class="header__item">
          <a class="header__link" href="#contacts">Контакти</a>
        </li>
      </ul>

      <button type="button" class="menu__button js-open-menu" aria-expanded="false" aria-controls="mobile-menu"  aria-label="Open menu" >
        <svg width="40" height="40">
          <use href="/images/mob-menu.svg#icon-menu"></use>
        </svg>
      </button>

      <button type="button" class="header__button js-open-form" aria-expanded="false" aria-controls="form" id="header__button">Отримати консультацію</button>
    </nav>
  </div>
</header>
