<header class="header">
  <div class="header-container">
    <nav class="nav">
      <a href="/" class="logo">
        <img src="/images/logo.png" alt="Axiom Advisory Logo" class="logo-img" />
      </a>

      <ul class="nav-list-desk">
        <li class="nav-item">
          <a class="nav-link" href="/src/partials/about.html">Про нас</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/src/partials/about.html">Послуги</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/src/partials/about.html">Обʼєкти</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/src/partials/about.html">Інвестиції на Балі</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/src/partials/about.html">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/src/partials/about.html">Відгуки</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/src/partials/about.html">Контакти</a>
        </li>
      </ul>

      <button type="button" class="menu-button js-open-menu" aria-expanded="false" aria-controls="mobile-menu"
        aria-label="Open menu">
        <svg width="40" height="40">
          <use href="/images/mob-menu.svg#icon-menu"></use>
        </svg>
      </button>

      <button type="button" class="consultation-button" aria-expanded="false" aria-controls="consultation-form">
        Отримати консультацію
      </button>
    </nav>
  </div>
</header>
