<section id="home" class="home">
  <div class="home__container">
    <div class="home__content">
      <div class="home__box">
        <div class="home__name">
          <h1 class="home__header">Супровід придбання нерухомості</h1>
        </div>
        <div class="home__name">
          <h2 class="home__bali">НА БАЛІ</h2>
        </div>
      </div>
      <button type="button" aria-controls="form" aria-expanded="false" class="home__button js-open-form" >Отримати консультацію</button>
    </div>
  </div>
</section>