<section id="invest" class="invest">
  <div class="invest__container">
    <!-- <video src="https://framerusercontent.com/assets/tkPvgAN4nbOyfX74ZMfpJXGrkl0.mp4"></video> -->
    <!-- <div class="video-preview" id="ytPreview" data-video-id="dQw4w9WgXcQ">
      >

      <img src="https://img.youtube.com/vi/dQw4w9WgXcQ/hqdefault.jpg" alt="Прев’ю відео">
      <div class="play-button">▶</div>
    </div> -->
    <div class="video__box" id="ytPreview" data-video-id="u31qwQUeGuM">
      <img src="https://img.youtube.com/vi/u31qwQUeGuM/hqdefault.jpg" alt="Прев’ю відео" class="video__image">
      <div class="video__play">
        <button class="btn" title="Відтворити">▶</button>
      </div>
    </div>
    <div class="invest__box">
      <h2 class="invest__header">Відкрий інвестиційні можливості Балі</h2>
      <ul class="invest__list">
        <li class="invest__item">
          <svg width="34" height="34" class="invest__svg">
            <use href="/images/mob-menu.svg#icon-checkbox"></use>
          </svg>
          <p class="invest__text">Tailored solutions for your business needs</p>
        </li>
        <li class="invest__item">
          <svg width="34" height="34" class="invest__svg">
            <use href="/images/mob-menu.svg#icon-checkbox"></use>
          </svg>
          <p class="invest__text">Engaging visuals that tell your brand story</p>
        </li>
        <li class="invest__item">
          <svg width="34" height="34" class="invest__svg">
            <use href="/images/mob-menu.svg#icon-checkbox"></use>
          </svg>
          <p class="invest__text">Proven strategies for maximum impact</p>
        </li>
      </ul>
    </div>
    <div class="invest__framer">
      <svg width="34" height="34" class="invest__icon">
        <use href="/images/mob-menu.svg#icon-chat"></use>
      </svg>
      <h2 class="invest__title">Інвестуй в нерухомість на Балі безпечно і подбай про свій капітал незалежності</h2>
      <p class="invest__describtion">Співпрацюйте з нами для розробки індивідуальних стратегій, що сприяють успіху. Наші експерти готові
        проконсультувати вас з будь-якого питання.</p>
      <button class="invest__button">Отримати консультацію</button>
    </div>
</section>