<div class="mobile-menu js-menu-container" id="mobile-menu">
  <button type="button" class="close-button js-close-menu">
    <svg width="34" height="34" aria-label="Toggle menu">
      <use href="/images/mob-menu.svg#icon-close"></use>
    </svg>
  </button>
  <div class="mobile-menu-container">
    <nav class="mobile-menu-nav">
      <ul class="mobile-nav_list">
        <li class="mobile-item">
          <a class="mobile-link" href="#about">Про нас</a>
        </li>
        <li class="mobile-item">
          <a class="mobile-link" href="#services">Послуги</a>
        </li>
        <li class="mobile-item">
          <a class="mobile-link" href="#objects">Обʼєкти</a>
        </li>
        <li class="mobile-item">
          <a class="mobile-link" href=#invest>Інвестиції на Балі</a>
        </li>
        <li class="mobile-item">
          <a class="mobile-link" href="#faq">FAQ</a>
        </li>
        <!-- <li class="mobile-item">
          <a class="mobile-link" href="/src/partials/about.html">Відгуки</a>
        </li> -->
        <li class="mobile-item">
          <a class="mobile-link" href="#contacts">Контакти</a>
        </li>
      </ul>
    </nav>
  </div>
</div>