<div class="mobile-menu js-menu-container" id="mobile-menu">
  <button type="button" class="modal_button--close js-close-menu" data-modal-close>
    <svg width="32" height="32" aria-label="Toggle menu">
      <use href="/images//mob-menu.svg#icon-close"></use>
    </svg>
  </button>
  <div class="mobile-menu_container">
    <nav class="mobile-nav">
      <ul class="mobile-nav_list">
        <li class="nav-item">
          <a class="nav-link" href="/src/partials/about.html">Про нас</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/src/partials/about.html">Послуги</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/src/partials/about.html">Обʼєкти</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/src/partials/about.html">Інвестиції на Балі</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/src/partials/about.html">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/src/partials/about.html">Відгуки</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/src/partials/about.html">Контакти</a>
        </li>
      </ul>
    </nav>
  </div>
</div>