<section id="objects" class="objects">
  <div class="objects__box">
    <h2 class="objects__header">Тільки перевірена нерухомість</h2>
    <p class="objects__text">Маємо свою базу перевіреної нерухомості з реальною дохідністю</p>
  </div>
  <ul class="objects__list">
    <li class="objects__item">
      <h3 class="objects__name">Інвестиційний потенціал</h3>
      <p class="objects__text">Аналіз прибутковості з урахуванням вартості на оренду і заповнюваності у локації</p>
      <div class="objects__image">
        <img src="/images/villa.avif">
      </div>
      <button type="button" aria-controls="form" aria-expanded="false" class="objects__button js-open-form">Звʼязатись з нами</button>
    </li>
    <li class="objects__item">
      <h3 class="objects__name">База обʼєктів</h3>
      <p class="objects__text">Перевірених відповідно до вимог законодавства Індонезії безпосередньо від забудовника</p>
      <div class="objects__image">
        <img src="/images/villa.avif">
      </div>
      <button type="button" aria-controls="form" aria-expanded="false" class="objects__button js-open-form">Звʼязатись з нами</button>
    </li>
    <li class="objects__item">
      <h3 class="objects__name">Інвест-Тур на Балі</h3>
      <p class="objects__text">Групові та індивідуальні візити на Балі з оглядом об’єктів і персональним супроводом (кількість місць обмежена)</p>
      <div class="objects__image">
        <img src="/images/villa.avif">
      </div>
      <button type="button" aria-controls="form" aria-expanded="false" class="objects__button js-open-form">Звʼязатись з нами</button>
    </li>
  </ul>

</section>