<div class="popup js-popup-container" id="popup">
  <div class="popup__container">
    <button type="button" class="popup__close js-close-popup">
      <svg width="34" height="34" aria-label="Toggle popup">
        <use href="/images/mob-menu.svg#icon-close"></use>
      </svg>
    </button>
    <div>
      <h3 class="popup__header">Це не лише вибір вілли, а й розуміння місцевих законів, прав власності та потенційних ризиків.</h3>
      <ul>
        <li>1.Типи права власності
        Що важливо знати перед покупкою
        нерухомості в Індонезії?</li>
        <li>2. Юридична перевірка документів</li>
        <li>3. Зонування землі (Zoning)</li>
        <li>4.Договір оренди або купівлі</li>
        <li>5. Якість будівництва та девелопер</li>
        <li>6.Фінансові питання та податки</li>
        <li>7. Дозвіл на оренду</li>
        <li>8. Due Diligence перед покупкою</li>
        <li>9.Інвестиційна привабливість</li>
        <li>10.Робота з надійними агентами та консультантів</li>
      </ul>
    </div>
  </div>
</div>