<section id="services" class="services">
  <div class="services__top">
    <ul class="services__list">
      <li class="services__item">
        <div class="services__circle">
          <svg width="20" height="20" class="services__svg">
            <use href="/images/mob-menu.svg#icon-checkbox"></use>
          </svg>
        </div>
        <h4>Інвестиції</h4>
        <p class="services__slogan">Lorem ipsum dolor sit amet</p>
      </li>
      <li class="services__item">
        <div class="services__circle">
          <svg width="20" height="20" class="services__svg">
            <use href="/images/mob-menu.svg#icon-checkbox"></use>
          </svg>
        </div>
        <h4>Пасивний дохід</h4>
        <p class="services__slogan">Lorem ipsum dolor sit amet</p>
      </li>
      <li class="services__item">
        <div class="services__circle">
          <svg width="20" height="20" class="services__svg">
            <use href="/images/mob-menu.svg#icon-checkbox"></use>
          </svg>
        </div>
        <h4>Релокація</h4>
        <p class="services__slogan">Lorem ipsum dolor sit amet</p>
      </li>
    </ul>
    <div>
      <div>
        <h3>Незалежна експертиза</h3>
        <p>Власний девелоперський досвід та глибоке знання ринку.</p>
        <p>Не продаємо, а захищаємо ваші інтереси</p>
      </div>
      <div>
        <img src="/images/villa.avif" alt="view of the villa">
      </div>
    </div>

  </div>



  <div class="services__content">
    <div class="services__inner">
      <a href="/src/partials/about.html" aria-expanded="false" aria-controls="popup" class="services__link js-open-popup">Що важливо знати перед покупкою нерухомості в Індонезії?</a>
    </div>
    <div class="services__picture">
      <img src="/images/aero-view.jpg" alt="a bird's eye view of the villas">
    </div>
  </div>
  <div class="services__box">
    <div class="services__framer">
      <div class="services__info">
        <h2 class="services__header">DUE DILIGENCE</h2>
        <p class="services__text">Повний юридичний аудит об’єкту, щоб ви приймали рішення на основі фактів, а не обіцянок, що
          включає перевірку через державні реєстри. Особистий бонус – оцінка технічного стану з виїздом на локацію. Результат:
          звіт, завіренний нотаріусом в Індонезії</p>
        <button type="button" data-modal-open class="services__button">Отримати консультацію</button>
      </div>
      <div class="services__image">
        <img src="/images/aero-view.jpg" alt="a bird's eye view of the villas">
      </div>
    </div>
  </div>
</section>