<section id="services" class="services">
  <a href="/src/partials/about.html" class="services__link">Що важливо знати перед покупкою нерухомості в Індонезії?</a>
  <div class="services__box">
    <div class="services__framer">
      <div class="services__info">
        <h2 class="services__header">DUE DILIGENCE</h2>
        <p class="services__text">Повний юридичний аудит об’єкту, щоб ви приймали рішення на основі фактів, а не обіцянок, що
          включає перевірку через державні реєстри. Особистий бонус – оцінка технічного стану з виїздом на локацію. Результат:
          звіт, завіренний нотаріусом в Індонезії</p>
        <button type="button" data-modal-open class="services__button">Отримати консультацію</button>
      </div>
      <div class="services__image">
        <img src="/images/aero-view.jpg" alt="a bird's eye view of the villas">
      </div>
    </div>
  </div>
</section>