<section id="services" class="services">
  <div class="services__top">
    <ul class="services__list">
      <li class="services__item">
        <div class="services__circle">
          <svg width="20" height="20" class="services__svg">
            <use href="/symbol-defs.svg#icon-invest"></use>
          </svg>
        </div>
        <p>Інвестиції</p>
        <!-- <p class="services__slogan">Lorem ipsum dolor sit amet</p> -->
      </li>
      <li class="services__item">
        <div class="services__circle">
          <svg width="20" height="20" class="services__svg">
            <use href="/images/mob-menu.svg#icon-checkbox"></use>
          </svg>
        </div>
        <p>Пасивний дохід</p>
        <!-- <p class="services__slogan">Lorem ipsum dolor sit amet</p> -->
      </li>
      <li class="services__item">
        <div class="services__circle">
          <svg width="20" height="20" class="services__svg">
            <use href="/images/mob-menu.svg#icon-checkbox"></use>
          </svg>
        </div>
        <p>Релокація</p>
        <!-- <p class="services__slogan">Lorem ipsum dolor sit amet</p> -->
      </li>
    </ul>
    <div class="services__flex">
      <div>
        <h3 class="services__a">НЕЗАЛЕЖНА ЕКСПЕРТИЗА</h3>
        <p class="services__b">Власний девелоперський досвід та глибоке знання ринку.</p>
        <p class="services__c">Не продаємо, а захищаємо ваші інтереси</p>
      </div>
      <div class="services__bild">
        <img src="/images/villa.avif" alt="view of the villa">
      </div>
    </div>

  </div>

  <div class="marquee-container">
    <div class="marquee-text">
      Інвестиції Пасивний дохід Релокація Незалежна експертиза Інвестиції Пасивний дохід Релокація Незалежна експертиза
      Інвестиції Пасивний дохід Релокація Незалежна експертиза Інвестиції Пасивний дохід Релокація Незалежна експертиза
      Інвестиції Пасивний дохід Релокація Незалежна експертиза Інвестиції Пасивний дохід Релокація Незалежна експертиза
    </div>
  </div>



  <div class="services__content">
    <div class="services__inner">
      <a href="/src/partials/about.html" aria-expanded="false" aria-controls="popup" class="services__link js-open-popup">Що важливо знати перед покупкою нерухомості в Індонезії?</a>
    </div>
    <div class="services__picture">
      <img src="/images/aero-view.jpg" alt="a bird's eye view of the villas">
    </div>
  </div>
  <div class="services__box">
    <div class="services__framer">
      <div class="services__info">
        <h2 class="services__header">DUE DILIGENCE</h2>
        <p class="services__text">Повний юридичний аудит об’єкту, щоб ви приймали рішення на основі фактів, а не обіцянок, що
          включає перевірку через державні реєстри. Особистий бонус – оцінка технічного стану з виїздом на локацію. Результат:
          звіт, завіренний нотаріусом в Індонезії</p>
        <button type="button" data-modal-open class="services__button">Отримати консультацію</button>
      </div>
      <div class="services__image">
        <img src="/images/aero-view.jpg" alt="a bird's eye view of the villas">
      </div>
    </div>
  </div>
</section>